@{
	string titleFormat = "{0} : Pathway";	
}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>@String.Format(titleFormat, Page.Title)</title>
	<meta name="description" content="Get Pathway Web Site, Created 12/2011">
	<meta name="author" content="Jorin Slaybaugh, Clayton Waters, Stan Coker">

	<meta name="viewport" content="width=device-width,initial-scale=1">
	@*<link rel="shortcut icon" href="@Href("~/content/img/favicon.ico")">*@
	<script type="text/javascript" src="@Href("~/scripts/modernizr-2.0.6.min.js")"></script>
	<link rel="stylesheet" type="text/css" href="@Href("~/css/style.css")" />
	@if (IsSectionDefined("styles"))
	{
		@RenderSection("styles")
	}
</head>
<body>
	<div>
		@RenderBody()
	</div>

	@if (IsSectionDefined("templates"))
	{
		@RenderSection("templates")
	}
	<!--
		our script references go here
	-->
	@if (IsSectionDefined("scripts"))
	{ 
		@RenderSection("scripts")
	}
	<!--[if lt IE 8 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
		<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
	<![endif]-->

</body>
</html>