@{  
    Layout = "~/_Master.cshtml";
    Page.Title = "Helping you connect, reach & grow";
    Page.Current = "Home";
}
<div class="featured gry-shadow container_16">
	<div class="content clearfix">
		<iframe src="https://player.vimeo.com/video/35985452?title=0&amp;byline=0&amp;portrait=0&amp;color=8BCD28&amp;loop=1" class="gry-shadow left" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		<div class="right" style="width:400px;margin-top:10px;">
			<h1>Are people coming in the front door of<br />your church, only to slip out the back?</h1>
			<p>Pathway is your tool to create a connected church. Pathway allows you to assign calls for volunteers and staff to connect with anyone, anywhere, at any time. Close the gap between initial contact and when a ministry follows up with more information. Connect, reach, and grow your church with Pathway!</p>
			<div style="margin-top:20px;">
				<a href="@Href("~/plans")" class="btn blu large">Plans &amp; Pricing</a>&nbsp;&nbsp;
				<a href="https://pathwayapp.com/signup" class="btn grn large">Sign Up</a>
			</div>
		</div>
	</div>
</div>
<div class="gry-shadow main container_16">
	<div class="clearfix" style="height:175px;clear:both;">
		<div class="ad-block grywht-grad alpha">
			<h4>Ministry Minded</h4>
			<p>Pathway was designed to empower churches &amp; ministries to effectively communicate to and connect with people.</p>
			<div class="right" style="padding:5px 10px 0 0;"><a href="@Href("~/features")" class="btn blu">More…</a></div>
		</div>
		<div class="ad-block grywht-grad">
			<h4>Staff and Volunteers</h4>
			<p>Pathway provides the tools you need to maximize the time of your staff and volunteers when engaging the masses.</p>
			<div class="right" style="padding:5px 10px 0 0;"><a href="@Href("~/features")" class="btn blu">More...</a></div>		
		</div>
		<div class="ad-block grywht-grad">
			<h4>Connect Intently</h4>
			<p>With Pathway, priority connections rise to the top, allowing you to do what you do best when it's most needed.</p>
			<div class="right" style="padding:5px 10px 0 0;"><a href="@Href("~/features")" class="btn blu">More...</a></div>		
		</div>
		<div class="ad-block grywht-grad omega">
			<h4>Priced Affordably</h4>
			<p>Pathway's pricing model was designed with the budgetary constraints of churches and ministries in mind.</p>
			<div class="right" style="padding:5px 10px 0 0;"><a href="@Href("~/plans")" class="btn blu">More...</a></div>				
		</div>
	</div>
	<div class="section clearfix">
		<div class="grid_14 prefix_1">
			<div class="grid_8 alpha">
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left"><a href="@Href("~/features")" class="nodeco block"><span class="icon-phone"></span></a></div>
					<a href="@Href("~/features")" class="nodeco block">
						<h4>Make calls from anywhere</h4>
						<p class="smaller">Pathway allows you to make calls from any phone while still showing your church's number on Caller ID.</p>
					</a>
				</div>
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left"><a href="@Href("~/features")" class="nodeco block"><span class="icon-email"></span></a></div>
					<a href="@Href("~/features")" class="nodeco block">
						<h4>Ministry specific communication</h4>
						<p class="smaller">Create templated emails so your callers can provide ministry specific information with a personal touch.</p>
					</a>
				</div>
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left"><a href="@Href("~/features")" class="nodeco block"><span class="icon-contact"></span></a></div>
					<a href="@Href("~/features")" class="nodeco block">
						<h4>Manage priority connections</h4>
						<p class="smaller">Connections requiring follow up rise to the top, empowering you to minister quickly and effectively to those in need.</p>
					</a>
				</div>
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left" style="margin-bottom:0;"><a href="@Href("~/features")" class="nodeco block"><span class="icon-church"></span></a></div>
					<a href="@Href("~/features")" class="nodeco block">
						<h4>Close the back door</h4>
						<p class="smaller">Pathway helps you reach each and every person in your church and personally connect with your community.</p>
					</a>
				</div>

			</div>
			<div class="grid_1">&nbsp;</div>
 			<div class="grid_5 omega">
				<div class="rounded grywht-grad sub-content" style="padding:5px 10px;">
					<h4>Created through strategic ministry partnerships!</h4>
					<p class="smaller" style="font-size:20px;line-height:29px;font-weight:300;">“Pathway is giving us efficiency and accountability that we have never been able to achieve in managing first time guests. Pathway is going to help us connect with more people in more effective and faster ways.”</p>
					<p class="smaller rgt-align" style="font-weight:600;">Stokes Collins, Associate Pastor<br />Gateway Church, Dallas-Fort Worth<br /><a href="http://gatewaypeople.com" target="_blank">gatewaypeople.com</a></p>
				</div>
			</div>
		</div>
		<div class="grid_14 prefix_1">
			<div class="rounded sub-content blu-grad" style="margin-top:40px;">
				<h2>Questions? Call us today! <b>1-800-506-0826</b></h2>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="content clearfix">
			<div class="grid_14 prefix_1">
				<div class="grid_8 alpha">
					<h3 class="green">Helping you connect, reach &amp grow.</h3>
				</div>
				<div class="grid_6 omega rgt-align">
					<a href="@Href("~/plans")" class="btn blu large">Plans & Pricing</a>&nbsp;&nbsp;
					<a href="https://pathwayapp.com/signup" class="btn grn large">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>

@section styles
{
	<style type="text/css">
		 .header {height:560px;}
		 .main {margin-top:20px;}
	</style>
}