@{  
    Layout = "~/_Master.cshtml";
    Page.Title = "Home";
}

<div class="featured gry-shadow container_16">
	<div class="grid_8 prefix_1 alpha">
		<img src="@Href("~/img/featured-screenshot.png")" width="440" height="290" style="margin-top:55px;border:2px solid rgba(255,255,255,0.5);" />
	</div>
	<div class="grid_6">
		<h1>Short sentence headline about the Pathway App.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique nunc eget eros bibendum ornare. Duis non ultricies ante. Praesent odio nisl, dignissim at tristique non, semper et ipsum. Aenean lorem libero, fermentum iaculis dapibus et, sollicitudin nec sem.</p>
		<div style="margin-top:20px;">
			<a href="@Href("~/plans")" class="btn blu large">Plans &amp; Pricing</a>&nbsp;&nbsp;
			<a href="https://pathwayapp.com/signup" class="btn grn large">Sign Up</a>
		</div>
	</div>
</div>
<div class="gry-shadow main container_16">
	<div class="clearfix">
		<div class="ad-block grywht-grad alpha">
			<h4>Ministry Minded</h4>
			<p>Pathway was designed to empower churches &amp; ministries to effectively communicate to and connect with people.</p>
			<div class="right" style="padding:5px 10px 0 0;"><a href="@Href("~/features")" class="btn blu">More…</a></div>
		</div>
		<div class="ad-block grywht-grad">
			<h4>Staff and Volunteers</h4>
			<p>Pathway provides the tools you need to maximize the time of your staff and volunteers when engaging the masses.</p>
			<div class="right" style="padding:5px 10px 0 0;"><a href="@Href("~/features")" class="btn blu">More...</a></div>		
		</div>
		<div class="ad-block grywht-grad">
			<h4>Connect Intently</h4>
			<p>With Pathway, priority connections rise to the top, allowing you to do what you do best when it's most needed.</p>
			<div class="right" style="padding:5px 10px 0 0;"><a href="@Href("~/features")" class="btn blu">More...</a></div>		
		</div>
		<div class="ad-block grywht-grad omega">
			<h4>Priced Affordably</h4>
			<p>With Pathway, priority connections rise to the top, allowing you to do what you do best when it's most needed.</p>
			<div class="right" style="padding:5px 10px 0 0;"><a href="@Href("~/features")" class="btn blu">More...</a></div>				
		</div>
	</div>
	<div class="section clearfix">
		<div class="grid_14 prefix_1">
			<div class="grid_8 alpha">
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left"><a href="@Href("~/features")" class="nodeco block"><span class="icon-phone"></span></a></div>
					<a href="@Href("~/features")" class="nodeco block">
						<h4>Make calls from anywhere</h4>
						<p class="smaller">Pathway allows you to make calls from any phone while still showing your church's number on Caller ID.</p>
					</a>
				</div>
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left"><a href="@Href("~/features")" class="nodeco block"><span class="icon-email"></span></a></div>
					<a href="@Href("~/features")" class="nodeco block">
						<h4>Ministry specific communication</h4>
						<p class="smaller">Create templated emails so your callers can provide ministry specific information with a personal touch.</p>
					</a>
				</div>
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left"><a href="@Href("~/features")" class="nodeco block"><span class="icon-contact"></span></a></div>
					<a href="@Href("~/features")" class="nodeco block">
						<h4>Manage priority connections</h4>
						<p class="smaller">Connections requiring follow up rise to the top, empowering you to minister quickly and effectively to those in need.</p>
					</a>
				</div>
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left" style="margin-bottom:0;"><a href="@Href("~/features")" class="nodeco block"><span class="icon-church"></span></a></div>
					<a href="@Href("~/features")" class="nodeco block">
						<h4>Close the back door</h4>
						<p class="smaller">Pathway helps you reach each and every person in your church and personally connect with your community.</p>
					</a>
				</div>

			</div>
			<div class="grid_1">&nbsp;</div>
 			<div class="grid_5 omega">
				<div class="rounded grywht-grad sub-content" style="padding:5px 10px;">
					<h4 class="dark">Fulfilling a need</h4>
					<p class="smaller italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempor volutpat nisi, eget ullamcorper arcu tincidunt ut. Integer orci turpis, bibendum vel ullamcorper ut, varius adipiscing turpis. Aliquam molestie lacus sed lorem luctus vel gravida justo viverra. In turpis ante, lobortis at placerat eu, laoreet et dolor. Etiam sagittis dolor at mi tristique tincidunt. Morbi hendrerit elementum auctor. Fusce porttitor porttitor justo sit amet vehicula. Sed sed nulla eget nunc tempus pretium quis a orci. Quisque at mauris eget turpis rutrum convallis. Morbi in velit in nisl pharetra gravida. Morbi in velit in nisl pharetra gravida</p>
					<p class="smaller rgt-align bold">- Stokes Collins, Gateway Church</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="content clearfix">
			<div class="grid_14 prefix_1">
				<div class="grid_8 alpha">
					<h3 class="green">Helping you connect, reach &amp grow.</h3>
				</div>
				<div class="grid_6 omega rgt-align">
					<a href="@Href("~/plans")" class="btn blu large">Plans & Pricing</a>&nbsp;&nbsp;
					<a href="https://pathwayapp.com/signup" class="btn grn large">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>

@section styles
{
	<style type="text/css">
		 .header {height:620px;}
	</style>
}