@{  
    Layout = "~/_Master.cshtml";
    Page.Title = "Home";
}

<div class="featured gry-shadow container_16">
	<div class="grid_8 prefix_1 alpha">
		<img src="@Href("~/img/featured-screenshot.png")" width="440" height="290" style="margin-top:55px;border:2px solid rgba(255,255,255,0.5);" />
	</div>
	<div class="grid_6">
		<h1>Short sentence headline about the Pathway App.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique nunc eget eros bibendum ornare. Duis non ultricies ante. Praesent odio nisl, dignissim at tristique non, semper et ipsum. Aenean lorem libero, fermentum iaculis dapibus et, sollicitudin nec sem.</p>
		<div style="margin-top:20px;">
			<a href="@Href("~/plans")" class="btn blu large">Plans &amp; Pricing</a>&nbsp;&nbsp;
			<a href="https://pathwayapp.com/signup" class="btn grn large">Sign Up</a>
		</div>
	</div>
</div>
<div class="gry-shadow main container_16">
	<div class="clearfix">
		<div class="ad-block grywht-grad alpha">
			<h4>Designed with ministry in mind</h4>
			<p>Pathway was designed to empower churches &amp; ministries to effectively communicate to and connect with people.</p>
			<div class="right" style="padding:5px 10px 0 0;"><a href="@Href("~/features")" class="btn blu">More…</a></div>
		</div>
		<div class="ad-block grywht-grad">
			<h4>Equip staff and volunteers</h4>
			<p>Pathway provides the tools you need to maximize the time of your staff and volunteers when engaging the masses.</p>
			<div class="right" style="padding:5px 10px 0 0;"><a href="@Href("~/features")" class="btn blu">More...</a></div>		
		</div>
		<div class="ad-block grywht-grad">
			<h4>Assess and minister effectively</h4>
			<p>With Pathway, priority connections rise to the top, allowing you to do what you do best when it's most needed.</p>
			<div class="right" style="padding:5px 10px 0 0;"><a href="@Href("~/features")" class="btn blu">More...</a></div>		
		</div>
		<div class="ad-block grywht-grad omega">
			<h4>Priced to give you room to grow</h4>
			<p>With Pathway, priority connections rise to the top, allowing you to do what you do best when it's most needed.</p>
			<div class="right" style="padding:5px 10px 0 0;"><a href="@Href("~/features")" class="btn blu">More...</a></div>				
		</div>
	</div>
	<div class="section">
		<div class="grid_14 prefix_1">
		
		</div>
	</div>
	<div class="section">
		<div class="content clearfix">
			<div class="grid_14 prefix_1">
				<div class="grid_8 alpha">
					<h3 class="green">Helping you connect, reach &amp grow.</h3>
				</div>
				<div class="grid_6 omega rgt-align">
					<a href="@Href("~/plans")" class="btn blu large">Plans & Pricing</a>&nbsp;&nbsp;
					<a href="https://pathwayapp.com/signup" class="btn grn large">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>

@section styles
{
	<style type="text/css">
		 .header {height:620px;}
	</style>
}